name: Update flake.lock

on:
  workflow_dispatch:
  schedule:
    # Every two weeks (every 1st and 15th of every month)
    - cron: '30 1 1,15 * *'

permissions:
  contents: write

jobs:
  lockfile:
    name: Update flake.lock
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: experimental-features = nix-command flakes
      - name: Update flake.lock
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          nix flake update --commit-lock-file
          git push
